
<div class="dash-container">
  <div class="dash-header">
    <div class="dash-back-btn">
      <%= link_to "", root_path, class: 'dash-back-btn-icon' %>
    </div>
    <p class = "invisible"><% current_user.nil? ? "Not Logged In" : current_user.username.capitalize %></p>
    <p class = "dash-title"> Game history </p>
    <div class="dash-header-placeholder"></div>
  </div>
  <div class="dash-inner-container">
    <div>
     <!--  <div class="dash-headline-container ">
        <div class="dash-logo"></div>
        <div class="dash-headline">Dashboard</div>
      </div> -->
    </div>

    <div class="dash-username">
    <% display_name = "" %>
    <% if current_user.nil? %>
      <% display_name = "<em>You arn't logged in!</em" %>
    <% elsif current_user.username.nil?%>
      <% display_name = current_user.email  %>
    <% else %>
      <% display_name = current_user.username %>
    <% end %>
    <% %>
    <p><%= display_name %></p>
  </div>



    <div class="dash-text">

      <div class="d-flex justify-content-center">
        <div class="d-flex dash-profile-container">
          <div class="justify-content-between">
           <div class = "dash-stats number" > <%= current_user.games.count %> </div>
           <p class= "dash-stats title">Games</p>
         </div>
          <div class="justify-content-between">
            <div class= "dash-stats number" > <%= @rounds.count %> </div>
            <p class= "dash-stats title">Questions</p>
          </div>
          <div class="justify-content-between">
            <div class= "dash-stats number" > 10PH </div>
            <p class= "dash-stats title">Points</p>
          </div>
       </div>
     </div>


     <!-- Games 'gallery'  -->
     <div class="dash-games-container">
      <% if @games[0].nil? %>
      <div class="container d-flex align-items-center justify-content-center h-100">
        <p>no games played yet</p>

      </div>
      <% else %>
      <% @games.each do |game| %>
        <% if game.game_mode == "MCQ" %>
          <a class="pill dash-pill d-flex" href="/games/<%= game.id %>/score">
            <div class= "dash-date" > <%= game.created_at.day %>\<%= game.created_at.month %>\<%= game.created_at.year %> </div>
           <!--  <div class= "dash-date" >  </div>
            <div class= "dash-date" > </div> -->
            <div class= "dash-game-mode" > <%= game.game_mode %> </div>
            <div class="shevron-right"> </div>
          </a>
          <div class = "badge"> +2 </div>
        <% else %>
          <a class="pill dash-pill d-flex" href="/games/<%= game.id %>/game">
            <div class= "dash-date" > <%= game.created_at.day %>\<%= game.created_at.month %>\<%= game.created_at.year %> </div>
            <!-- <div class= "dash-date" > <%= game.created_at.day %>\ </div>
            <div class= "dash-date" > <%= game.created_at.month %>\ </div>
            <div class= "dash-date" > <%= game.created_at.year %> </div> -->
            <div class= "dash-game-mode" > <%= game.game_mode %> </div>
            <div class="shevron-right"> </div>
          </a>
          <div class = "badge">+<%= game.score %> </div>
        <% end %>
      <% end %>
      <% end %>

    </div>
  </div>
</div>
</div>


<script>
  let my_body = document.querySelector('body')
  const changeBodyBackgroundColor = () => {
    my_body.style.background = '#F8F9FA'
  }
  changeBodyBackgroundColor();
</script>

