
<div class = "dash-container">

  <div class = "dash-inner-container">
    <div>
      <div class = "dash-headline-container ">
        <div class="dash-logo"></div>
        <div class="dash-headline">Dashboard</div>
      </div>
    </div>

    <div class="dash-options htp-text">

      <div class="d-flex justify-content-center">
        <div class="dash-profile-container" style=" border: 5px solid <%= @color %>; ">
          <div class="d-flex justify-content-between">
            <p>Username</p>
            <%= current_user.username %>
          </div>
          <div class="d-flex justify-content-between">
           <p>Games played</p>
           <%= current_user.games.count %>
         </div>
       </div>
     </div>

     <div class="dash-games-headline">Your Games</div>

     <div class="dash-games-container">
      <% if @games[0].nil? %>
      <div class="container d-flex align-items-center justify-content-center h-100">
        <p>no games played yet</p>

      </div>
      <% else %>
      <% @games.each do |game| %>
      <div style="color: <%= @color %>;" >
        <%= link_to game.game_mode, game_score_path(game), class: 'pill dash-pill d-flex justify-content-center' %>
      </div>
      <% end %>
      <% end %>

    </div>


  </div>

  <a href="/">
    <div class="pill htp-pill">Back to Menu</div>
  </a>

</div>
</div>


<script>
  let my_body = document.querySelector('body')
  const changeBodyBackgroundColor = () => {
    my_body.style.background = '#545252'
  }
  changeBodyBackgroundColor();
</script>
