<div id="delayRedirect fadeable">
  <% if session[:first_visit] %>
    <div class="splash-container fadeable" id="splash-container fadeable">
      <div class="splash-logo fadeable"></div>
      <div class="ball1 fadeable"></div>
      <div class="ball2 fadeable"></div>
      <div class="ball3 fadeable"></div>
    </div>
    <% session[:first_visit] = false %>
  <% end %>
</div>

<div class="pillbox_outer">
  <div class="pillbox_inner">
    <div class="menu-headline-container">
      <div class="menu-logo" style="background-image"></div>
      <div class="menu-how-to-play-link">
        <a href="/pages/how_to_play" class="menu-htp-link">
          <div class="menu-how-to-play-link-icon">
            <%= image_tag("game_options_menu_symbol.png", id: 'game-options-menu-symbol')%>
          </div>
          <div class="menu-how-to-play-link-text">How to play</div>
        </a>
      </div>

    </div>
    <div class="pillbox-add-top-margin ">

      <% if user_signed_in? %>
      <%= button_to "Try Out", games_path, params: {game: {game_mode: "Try Out"}}, class: 'pill mb-0 d-flex justify-content-center' %>
      <%= button_to "5 Rounds", games_path, params: {game: {game_mode: "MCQ"}}, class: 'pill mb-0 d-flex justify-content-center' %>
      <%= button_to "Sortable", games_path, params: {game: {game_mode: "Sortable"}}, class: 'pill mb-0 d-flex justify-content-center' %>
      <% else %>
      <%= button_to "Try Out", games_path, params: {game: {game_mode: "Try Out"}}, class: 'pill mb-0 d-flex justify-content-center' %>
      <% end %>


      <div class="pill hidden">spacer</div>
      <% if user_signed_in? %>
      <%= link_to "My Stats", dashboard_path, class: 'text-dark pill mb-0 d-flex justify-content-center' %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'text-dark pill mb-0 d-flex justify-content-center' %>
      <% else %>
      <%= link_to "Login", user_session_path, class: 'text-dark pill mb-0 d-flex justify-content-center' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'text-dark pill mb-0 d-flex justify-content-center' %>

      <% end %>
    </div>
  </div>
</div>



<script>

  // Script to during the make the Body element grey
  let my_body = document.querySelector('body')
  const changeBodyBackgroundColor = () => {
    my_body.style.background = '#545252'
  }
  changeBodyBackgroundColor();

  // Script to handle delay, switching from Splash screen to Menu screen
  const slowfadeElement = (element) => {
    element.classList.add("slow-fade");
  }


  const fadeFadeablesAfterDelay = () => {
    let fadeables = document.querySelectorAll('.fadeable');
    fadeables.forEach((fadeable) => {
      setTimeout(() => slowfadeElement(fadeable), 3000);
    });
  };

  fadeFadeablesAfterDelay();

</script>
