<div class="pillbox_outer bg-light">
  <div class="pillbox_inner bg-light">
    <div>
      <div class="logo-40-px" style="background-image"></div>
    </div>
    <div class="pillbox-add-top-margin ">
     <div class="pill"><%= @question.content %></div>
      <div class="pill hidden">spacer</div>
       <% if @round.last.nil? || @game.game_mode == "MCQ" && @game.rounds.count < 5 %>

          <%= button_to @answers[0].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[0].id }}, class: 'shown-option pill pill-red mb-0 d-flex justify-content-center', id: 'option-1' %>
          <%= button_to @answers[1].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[1].id }}, class: 'shown-option pill pill-green mb-0 d-flex justify-content-center', id: 'option-2' %>
          <%= button_to @answers[2].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[2].id }}, class: 'shown-option pill pill-blue mb-0 d-flex justify-content-center', id: 'option-3' %>
          <%= button_to @answers[3].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[3].id }}, class: 'shown-option pill pill-yellow mb-0 d-flex justify-content-center', id: 'option-4' %>

       <% else %>
          <div id="result-1" class="shown-result pill pill-red"><%= @answers[0].content %> || #<%= @answers[0].rank %></div>
          <div id="result-2" class="shown-result pill pill-green"><%= @answers[1].content %> || #<%= @answers[1].rank %></div>
          <div id="result-3" class="shown-result pill pill-blue"><%= @answers[2].content %> || #<%= @answers[2].rank %></div>
          <div id="result-4" class="shown-result pill pill-yellow"><%= @answers[3].content %> || #<%= @answers[3].rank %></div>

          <div class="pill hidden">spacer</div>

          <%= link_to "Back to Menu", root_path, class: 'pill mb-0 d-flex justify-content-center' %>
          <%= button_to "play again", games_path, class: 'pill mb-0 d-flex justify-content-center' , params: {game: {game_mode: @game.game_mode}}%>

      <% end %>
    </div>
   </div>
  </div>

<script>

  // Script to during the make the Body element grey
  let my_body = document.querySelector('body');
  const changeBodyBackgroundColor = () => {
    my_body.style.background = '#F8F9FA';
  }
  changeBodyBackgroundColor();

  // Script to get a the DOM element w/ the answers
  // let my_options = document.querySelectorAll(".shown-option");
  // const bindStoreAnswerToOptions = (option) => {
  //    sessionStorage.setItem('chosen-answer', option.id);
  // }



</script>
