<div class="pillbox_outer">
  <div class="pillbox_inner">
    <div>
      <div class="logo-40-px" style="background-image"></div>
    </div>
    <div class="pillbox-add-top-margin ">
     <div class="pill"><%= @question.content %></div>
      <div class="pill hidden">spacer</div>
       <% if @round.last.nil? %>
        <% @question.answers.each do | answer | %>
          <%= button_to answer.content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: answer.id }}, class: 'pill mb-0 d-flex justify-content-center' %>
        <% end %>

       <% else %>

       <% @question.answers.each do | answer | %>
        <div class="pill"><%= answer.content %> || #<%= answer.rank %></div>
       <% end %>

       <div class="pill hidden">spacer</div>

       <%= link_to "Back to Menu", root_path, class: 'pill mb-0 d-flex justify-content-center' %>
       <%= button_to "play again", games_path, class: 'pill mb-0 d-flex justify-content-center' , params: {game: {game_mode: "Try Out"}}%>

      <% end %>
    </div>
   </div>
  </div>
