<div class="pillbox_outer bg-light">
  <div class="game_inner bg-light">
    <div>
      <div class="logo-40-px" style="background-image"></div>
    </div>
    <div class="pillbox-add-top-margin ">
     <div class="pill-question pill-align-left"><%= @question.content %></div>
      <div class="pill hidden">spacer</div>

      <!-- Set color order, and position counter, for us in rnder loops -->
      <% color_order = ['red', 'green', 'blue', 'yellow'] %>
      <% position_counter = 0 %>

      <!-- If game isn't done yet...  -->
      <% if @rounds.last.nil? || @game.game_mode == "MCQ" && @game.rounds.count < 5 %>

        <!-- ... loop through available *options* and render them w/ relevant metadata. -->
        <% @answers.each do |answer| %>
          <%= button_to answer.content,
                        game_rounds_path(@game),
                        params: {round: {duration: 30,
                                         question_id: @question.id,
                                         answer_id: answer.id }},
                        class: "shown-option pill pill-align-right-btn pill-#{color_order[position_counter]} mb-0 d-flex",
                        id: "option-#{position_counter}"%>
          <%  position_counter += 1 %>
          <% end # end loop: render options %>

       <!-- If game isn't done yet, and we're in 'try out' mode...  -->
       <% elsif  @game.game_mode == "Try Out" %>

          <!-- ... loop through *results*, with relevant cues about what the right answer was, and how you did.  -->
          <% @answers.each do |answer| %>
            <% if answer.rank == 1 %>
               <div class="shown-result pill d-flex align-items-center px-4 justify-content-between pill-<%=color_order[position_counter]%> "
                    id="result-<%= position_counter + 1 %>"
                    data-answer-rank="<%= answer.rank %>"
                    ><i class="fas fa-check mb-0"></i><%= answer.content %>
               </div>
            <% else %>
            <!-- div with the content of the answer, properly styled -->
                <div class="shown-result pill justify-content-end px-4 pill-<%=color_order[position_counter]%> d-flex"
                     id="result-<%= position_counter + 1 %>"
                     data-answer-rank="<%= answer.rank %>"
                     ><%= answer.content %>
            <% end %>

            <%  position_counter += 1 %>

            <!-- Close the div! -->
            </div>
          <% end # end loop: render options %>

          <div class="pill hidden">spacer</div>

          <%= button_to "Play again", games_path, class: 'pill mb-0 d-flex justify-content-center' , params: {game: {game_mode: @game.game_mode}}%>
          <%= link_to "Back to Menu", root_path, class: 'pill last-button d-flex justify-content-center' %>

      <% elsif  @game.game_mode == "MCQ" %>
          <% @rounds.each do |round|%>
          <% if round.answer.rank==1 %>
          <div class="shown-result pill pill-blue"><%= round.answer.content %> <%= round.answer.rank %><i class="fas fa-check pill-far-left"></i></div>
          <% else %>
          <div class="shown-result pill pill-red"><%= round.answer.content %> <%= round.answer.rank %><i class="fas fa-times pill-far-left"></i></div>
          <% end %>
          <% end %>

          <div class="pill hidden">spacer</div>

          <%= link_to "Back to Menu", root_path, class: 'pill mb-0 d-flex justify-content-center' %>
          <%= button_to "play again", games_path, class: 'pill last-button d-flex justify-content-center' , params: {game: {game_mode: @game.game_mode}}%>

      <% end %>
    </div>
   </div>
  </div>

<script>

  // Script to during the make the Body element grey
  let myBody = document.querySelector('body');
  const changeBodyBackgroundColor = () => {
    myBody.style.background = '#F8F9FA';
  }
  changeBodyBackgroundColor();


</script>
