<div class="pillbox_outer bg-light">
  <div class="game_inner bg-light">
    <div>
      <div class="logo-40-px" style="background-image"></div>
    </div>
    <div class="pillbox-add-top-margin">
     <div class="pill-question pill-align-left"><%= @question.content %></div>
      <div class="pill hidden">spacer</div>
      <!-- Set color order, and position counter, for us in render loops -->
      <% color_order = ['red', 'green', 'blue', 'yellow'] %>
      <% position_counter = 0 %>

      <!-- If game isn't done yet, get a new answer from the user. -->
      <% if @rounds.last.nil? || @game.game_mode == "MCQ" && @game.rounds.count < 5 %>
        <% @answers.each do |answer| %>
          <%= button_to answer.content,
                        game_rounds_path(@game),
                        params: {round: {duration: 30,
                                         question_id: @question.id,
                                         answer_id: answer.id }},
                        class: "shown-option pill pill-align-right-btn pill-#{color_order[position_counter]} mb-0 d-flex",
                        id: "option-#{position_counter}"%>
          <%  position_counter += 1 %>
          <% end %>

       <!-- If we're done with one round, and the mode is 'Try Out', show the tryout score screen. -->
       <% elsif  @game.game_mode == "Try Out" %>
          <% @answers.each do |answer| %>

            <!-- Rendering a correct, chosen result with a light blue border and a checkmark -->
            <% if answer.rank == 1 && answer.id == @rounds.last.answer.id%>
               <div class="pill pill-tryout-result d-flex align-items-center px-4 justify-content-between pill-<%=color_order[position_counter]%> "
                    id="result-<%= position_counter + 1 %>"
                    data-answer-rank="<%= answer.rank %>"
                    ><i class="fas fa-check mb-0"></i><%= answer.content %>
               </div>

             <!-- Rendering a correct, not-chosen result with a checkmark -->
             <% elsif answer.rank == 1 %>
               <div class="pill pill-tryout-result d-flex align-items-center px-4 justify-content-between pill-<%=color_order[position_counter]%> "
                    id="result-<%= position_counter + 1 %>"
                    data-answer-rank="<%= answer.rank %>"
                    ><i class="fas fa-check mb-0"></i><%= answer.content %>
               </div>

            <!-- Rendering a wrong, chosen result with an 'X', a light blue border, and a white overlay -->
            <% elsif answer.id == @rounds.last.answer.id %>
                <div class="pill pill-tryout-result pill-translucent-overlay d-flex align-items-center justify-content-between px-4 pill-<%=color_order[position_counter]%>"
                     id="result-<%= position_counter + 1 %>"
                     data-answer-rank="<%= answer.rank %>"
                     ><i class="fas fa-times"></i><%= answer.content %>
                </div>

            <!-- Render all non chosen, non-right answer w/ a white overlay -->
            <% else %>
                <div class="pill pill-tryout-result pill-translucent-overlay justify-content-end px-4 pill-<%=color_order[position_counter]%> d-flex"
                     id="result-<%= position_counter + 1 %>"
                     data-answer-rank="<%= answer.rank %>"
                     ><%= answer.content %>
                </div>
            <% end %>
            <%  position_counter += 1 %>

            <!-- Close the div! -->
          <% end # end loop: render options %>
          <div class="pill hidden">spacer</div>

          <%= button_to "Play again", games_path, class: 'pill mb-0 d-flex justify-content-center' , params: {game: {game_mode: @game.game_mode}}%>
          <%= link_to "Back to Menu", root_path, class: 'pill last-button d-flex justify-content-center' %>
      <% end %>
    </div>
   </div>
  </div>
<script>

  // Script to during the make the Body element grey
  let myBody = document.querySelector('body');
  const changeBodyBackgroundColor = () => {
    myBody.style.background = '#F8F9FA';
  }
  changeBodyBackgroundColor();


</script>
