<div class="pillbox_outer bg-light">
  <div class="mcq-inner bg-light">
    <div>
      <div class="logo-40-px" style="background-image"></div>
    </div>
    <div class="pillbox-add-top-margin ">
      <div class="pill-question pill-align-left"><%= @question.content %></div>
      <div class="pill hidden">spacer</div>

      <!-- Set color order, and position counter, for us in render loops -->
      <% color_order = ['#E8453C', '#3AA757', '#4688F1', '#FABB2D'] %>
      <% position_counter = 0 %>

      <!-- If game isn't done yet, get a new answer from the user. -->
      <% if  @game.rounds.count < 5 %>
        <% @answers.each do |answer| %>

          <!-- YANIV CHANGED BUTTON_TO => LINK_TO (MUST HANDLE ANSWER SUBMISSION) -->
          <%= button_to answer.content,
                        game_rounds_path(@game),
                        params: {'round' => {'duration' =>  30,
                                         'question_id' =>  @question.id,
                                         'answer_id' =>  answer.id }},
                        class: "mcq-answer shown-option pill pill-align-right-btn pill-#{color_order[position_counter]} mb-0 d-flex",
                        id: "option-#{position_counter}",
                        style: "background-color: #{color_order[position_counter]}"%>
          <%  position_counter += 1 %>
        <% end %>
      <% end %>
      <div class="pill hidden">spacer</div>

      <%= link_to "Back to Menu", root_path, class: 'pill mb-0 d-flex justify-content-center' %>

      <div class="round-count">
      <h4><%= @rounds.count + 1 %> | 5</h4>
      </div>
    </div>
  </div>
  <div class = "user-buttons justify-content-between">
    <% if user_signed_in? %>
    <%= link_to "", destroy_user_session_path, method: :delete, class: 'logout-icon text-dark mb-0 d-flex justify-content-center' %>
    <%= link_to "", dashboard_path, class: 'my-stats-icon text-dark mb-0 d-flex justify-content-center' %>
    <% end %>
</div>


  <script>

  // Script to during the make the Body element grey
  let myBody = document.querySelector('body');
  const changeBodyBackgroundColor = () => {
    myBody.style.background = '#F8F9FA';
  }
  changeBodyBackgroundColor();



  </script>







