  <div class="pillbox_outer bg-light">
  <div class="game_inner bg-light">
    <div>
      <div class="logo-40-px" style="background-image"></div>
    </div>
    <div class="pillbox-add-top-margin ">
    <div class="pill hidden">spacer</div>

  <% @rounds.each do |round|%>
    <% if round.answer.rank == 1 %>
      <div class="shown-result pill pill-<%=round.color%>"><%= round.answer.content %> <%= round.answer.rank %><i class="fas fa-check pill-far-left"></i></div>
      <% else %>
      <div class="shown-result pill pill-<%=round.color%>"><%= round.answer.content %> <%= round.answer.rank %><i class="fas fa-times pill-far-left"></i></div>
    <% end %>
  <% end %>

  <div class="pill hidden">spacer</div>

  <%= link_to "Back to Menu", root_path, class: 'pill mb-0 d-flex justify-content-center' %>
  <%= button_to "play again", games_path, class: 'pill last-button d-flex justify-content-center' , params: {game: {game_mode: @game.game_mode}}%>

