<div class="pillbox_outer_slide back-opac">
  <div class="game_inner_slide">
    <div>
      <a href="/">
        <div class="logo-40-px" style="background-image"></div>
      </a>
    </div>
    <div class="pillbox-add-top-margin ">
      <div class="pill-question pill-align-left"><%= @question.content %></div>
      <div class="pill hidden">spacer</div>


      <div class="set-width">
        <div class="go_back">
          <% color_order = ['red', 'green', 'blue', 'yellow'] %>

          <% @answers.each_with_index do |answer, index| %>
            <div class="pill-outer">
              <h2 class="font-weight-bold" style="color: <%= answer.rank == index + 1 ? "#3BA758" : "#E8463C" %>;">
                  <%= answer.rank %>
              </h2>
            </div>
          <% end %>
        </div>


      <ul class="container-slide-score slide-result-list">

        <!-- Initialize counter to cycle through colors   -->
        <% color_order = ['red', 'green', 'blue', 'yellow'] %>
        <% position_counter = 0 %>

        <!-- Loop through answers, rendering each element w/ the relevant id -->
        <% @answers.each_with_index do |answer, index| %>
          <% my_class =  "pill-slide-score pill-align-sortable"%>
          <li class="<%= my_class %> <%= answer.rank == index + 1 ? "pill-green" : "pill-red" %>" data-answer-number="<%= answer.id %>">
            <i class="<%= answer.rank == index + 1 ? "fas fa-check" : "fas fa-times" %>"></i>
            <%= answer.content %>
          </li>
          <% position_counter += 1 %>
          <% end %>
      </ul>

      </div>
    </div>
  </div>
</div>
<div class = "user-buttons justify-content-between">
    <% if user_signed_in? %>
    <%= link_to "", destroy_user_session_path, method: :delete, class: 'logout-icon text-dark mb-0 d-flex justify-content-center' %>
    <%= link_to "", dashboard_path, class: 'my-stats-icon text-dark mb-0 d-flex justify-content-center' %>
    <% end %>
</div>
