<div class="pillbox_outer_slide back-opac">
  <div class="game_inner_slide">
    <div>
      <a href="/">
        <div class="logo-40-px" style="background-image"></div>
      </a>
    </div>
    <div class="pillbox-add-top-margin ">
      <div class="pill-question pill-align-left icon search"><%= @question.content %></div>
      <div class="pill hidden">spacer</div>


      <div class="set-width">
        <div class="go_back">
          <% color_order = ['red', 'green', 'blue', 'yellow'] %>


          <div class="pill-outer">
            <h2 class="font-weight-bold" style="color: <%= @answers[0].rank == 1 ? "#3BA758" : "#E8463C" %>;">
              1
            </h2>
          </div>

          <div class="pill-outer">
            <h2 class="font-weight-bold" style="color: <%= @answers[1].rank == 2 ? "#3BA758" : "#E8463C" %>;">
              2
            </h2>
          </div>

          <div class="pill-outer">
            <h2 class="font-weight-bold" style="color: <%= @answers[2].rank == 3 ? "#3BA758" : "#E8463C" %>;">
              3
            </h2>
          </div>

          <div class="pill-outer">
            <h2 class="font-weight-bold" style="color: <%= @answers[3].rank == 4 ? "#3BA758" : "#E8463C" %>;">
              4
            </h2>
          </div>



        </div>


        <ul class="container-slide-score slide-result-list">

          <!-- Initialize counter to cycle through colors   -->
          <% color_order = ['red', 'green', 'blue', 'yellow'] %>
          <% position_counter = 0 %>

          <!-- Loop through answers, rendering each element w/ the relevant id -->
          <% @answers.each_with_index do |answer, index| %>
          <% my_class =  "pill-slide-score pill-align-sortable"%>
          <% if answer.rank == index + 1 %>

          <li class="<%= my_class %> pill-green" data-answer-number="<%= answer.id %>">
            <i class="fas fa-check"></i>
            <%= answer.content %>
          </li>
          <% else %>
          <li class="<%= my_class %> pill-red" data-answer-number="<%= answer.id %>">
            <i class="fas fa-times d-flex align-items-center"><p class="real-rank">( <%= answer.rank %> )</p></i>


            <%= answer.content %>
          </li>
          <% end %>

          <% position_counter += 1 %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="slide-score-buttons">
  <%= link_to "Back to Menu", root_path, class: 'pill mb-0 d-flex justify-content-center' %>
  <%= button_to "Play again", games_path, class: 'pill last-button d-flex justify-content-center' , params: {game: {game_mode: @game.game_mode}}%>

</div>
