<div class="pillbox_outer back-opac">
  <div class="game_inner">
    <div>
      <a href="/">
        <div class="logo-40-px" style="background-image"></div>
      </a>
    </div>
    <div class="pillbox-add-top-margin ">
      <div class="pill-question pill-align-left"><%= @question.content %></div>
      <div class="pill hidden">spacer</div>
      <% if @rounds.last.nil?  %>

      <div class="set-width">
        <div class="go_back">
          <div class="pill-outer">
            <h2>1</h2>
          </div>

          <div class="pill-outer">
            <h2>2</h2>
          </div>

          <div class="pill-outer">
            <h2>3</h2>
          </div>

          <div class="pill-outer">
            <h2>4</h2>
          </div>
        </div>


      <ul id="quest-sort" class="container-sortable">

        <!-- Initialize counter to cycle through colors   -->
        <% color_order = ['red', 'green', 'blue', 'yellow'] %>
        <% position_counter = 0 %>

        <!-- Loop through answers, rendering each element w/ the relevant id -->
        <% @answers.each do |answer| %>
          <% my_class =  "sort-option pill-sortable pill-align-sortable pill-#{color_order[position_counter]}"%>
          <% my_id = "ans-id-#{answer.id}" %>
          <li class="<%= my_class %>" id="<%= my_id %>">
            <i class="fas fa-bars"></i>
            <%= answer.content %>
          </li>
          <% position_counter += 1 %>
          <% end %>
      </ul>

      </div>

      <% end %>

    </div>
  </div>

  <%= button_to "Next",
                 game_rounds_path(@game),
                 id: "store-button"
                 class: 'pill d-flex justify-content-center',
                 params: {round: {duration: 30, question_id: '', submitted_order: '' }} %>

</div>

<script>

  // Script to during the make the Body element grey
  let myBody = document.querySelector('body');
  const changeBodyBackgroundColor = () => {
    myBody.style.background = '#F8F9FA';
  }
  changeBodyBackgroundColor();

  let scoreButton= document.

  // Script copied from game.html.erb --> use as model for getting data from elements
  if(typeof(handleChosenAnswer) === 'undefined'){
      let answer = document.querySelectorAll('.mcq-answer');

      let handleChosen = (ans) => {
        let lastButton = document.querySelector('.last-button');
          answer.forEach((an) => {
            if(an.id === ans.id){
              let inputs = an.parentElement.querySelectorAll('[name*=round]');
              inputs.forEach((input) => {
                lastButton.parentElement.querySelector("[name=" + `"${input.name}"]`).value = input.value;
              })
              changeChosenStyle(an);

            }else{
              an.style.opacity = '.5';
            }
          })
      }


      let handleChosenAnswer = () => {
        answer.forEach((ans) => {
          ans.addEventListener('click', (event) => {
            event.preventDefault();
            let clicked = event.currentTarget;
            handleChosen(clicked);
            let session = sessionStorage.getItem('chosen');
            let chosen = session === null ? false : true;
            if(chosen){
             document.querySelectorAll('.mcq-answer').forEach(elem => {
               elem.disabled = true;
             });
            }else{
              sessionStorage.setItem('chosen', true);
            }
          })
        })
      }

      handleChosenAnswer();
    }else{
      handleChosenAnswer();
    }




 </script>
