<div class="pillbox_outer bg-light">
  <div class="game_inner bg-light">
    <div>
      <a href="/">
        <div class="logo-40-px" style="background-image"></div>
      </a>
    </div>
    <div class="pillbox-add-top-margin ">
     <div class="pill-question pill-align-left"><%= @question.content %></div>
     <div class="pill hidden">spacer</div>
     <% if @rounds.last.nil?  %>

     <%= button_to @answers[0].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[0].id }}, class: 'shown-option pill pill-align-right-btn pill-red mb-0 d-flex', id: 'option-1' %>
     <%= button_to @answers[1].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[1].id }}, class: 'shown-option pill pill-align-right-btn pill-green mb-0 d-flex', id: 'option-2' %>
     <%= button_to @answers[2].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[2].id }}, class: 'shown-option pill pill-align-right-btn pill-blue mb-0 d-flex', id: 'option-3' %>
     <%= button_to @answers[3].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[3].id }}, class: 'shown-option pill pill-align-right-btn pill-yellow mb-0 d-flex', id: 'option-4' %>

     <% elsif  @game.game_mode == "Try Out" %>
     <div id="result-1" class="shown-result pill pill-red pill-align-right"><%= @answers[0].content %> || #<%= @answers[0].rank %></div>
     <div id="result-2" class="shown-result pill pill-green pill-align-right"><%= @answers[1].content %> || #<%= @answers[1].rank %></div>
     <div id="result-3" class="shown-result pill pill-blue pill-align-right"><%= @answers[2].content %> || #<%= @answers[2].rank %></div>
     <div id="result-4" class="shown-result pill pill-yellow pill-align-right"><%= @answers[3].content %> || #<%= @answers[3].rank %></div>

     <div class="pill hidden">spacer</div>

     <%= button_to "Play again", games_path, class: 'pill mb-0 d-flex justify-content-center' , params: {game: {game_mode: @game.game_mode}}%>
     <%= link_to "Back to Menu", root_path, class: 'pill last-button d-flex justify-content-center' %>

     <% end %>
   </div>
 </div>
</div>

<script>

  // Script to during the make the Body element grey
  let myBody = document.querySelector('body');
  const changeBodyBackgroundColor = () => {
    myBody.style.background = '#F8F9FA';
  }
  changeBodyBackgroundColor();

  // Script to get a the DOM element w/ the options, and store in JS session
  // let my_options = document.querySelectorAll(".shown-option");
  // const bindStoreAnswerToOptions = (option) => {
  //    sessionStorage.setItem('chosen-answer', option.id);
  // }

  // Script to get the DOM elements w/ the results
  let myResults = document.querySelectorAll(".shown-result");

  // if result is correct, add a checkmark to the left of the pill
  const addLeftCheckmarkToPill = (pill) => {
    const leftCheckmark = '<i class="fas fa-check pill-far-left"></i>';
    pill.insertAdjacentHTML('afterbegin', leftCheckmark);
  };

  myResults.forEach((result) => {
     // Code for debug:
     let resultPosition = result.id[result.id.length - 1]
     let resultAnswerRank = result.dataset.answerRank
     // console.log(`result.id[result.id.length - 1] = ${result.id[result.id.length - 1]}`);
     // console.log(`result.dataset.answerRank = ${result.dataset.answerRank}`);
     if (resultAnswerRank == 1) {
       addLeftCheckmarkToPill(result);
     }

   });



 </script>
