<div class="pillbox_outer">
  <div class="pillbox_inner">
    <div>
      <div class="logo-40-px" style="background-image"></div>
    </div>
    <div class="pillbox-add-top-margin ">
     <div class="pill"><%= @question.content %></div>
    </div>
    <div class="pill hidden">spacer</div>

    <% if @round.last.nil? %>

     <div class="pill"><%= @answers[0].content %></div>
     <div class="pill"><%= @answers[1].content %></div>
     <div class="pill"><%= @answers[2].content %></div>
     <div class="pill"><%= @answers[3].content %></div>

    <% else %>

     <div class="pill"><%= @answers[0].content %> || #<%= @answers[0].rank %></div>
     <div class="pill"><%= @answers[1].content %> || #<%= @answers[1].rank %></div>
     <div class="pill"><%= @answers[2].content %> || #<%= @answers[2].rank %></div>
     <div class="pill"><%= @answers[3].content %> || #<%= @answers[3].rank %></div>
     <div class="pill hidden">spacer</div>
     <%= link_to "Back to Menu", root_path, class: 'pill' %>
     <%= button_to "play again", games_path, class: 'pill', params: {game: {game_mode: "Try Out"}}%>
     <% end %>
   </div>
 </div>
</div>
