<div class="d-flex container justify-content-center ">
  <div class="row">
    <div class="col" style="margin: 32px;">

      <h1>Tryout</h1>

      <% if @round.last.nil? %>
      <h2><%= @question.content %></h2>


      <%= button_to @answers[0].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[0].id }} %>
      <%= button_to @answers[1].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[1].id }} %>
      <%= button_to @answers[2].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[2].id }} %>
      <%= button_to @answers[3].content, game_rounds_path(@game), params: {round: {duration: 30, question_id: @question.id, answer_id: @answers[3].id }} %>

      <% else %>

      <h2><%= @question.content %></h2>

      <p><%= @answers[0].content %>    <%= @answers[0].rank %></p>
      <p><%= @answers[1].content %>    <%= @answers[1].rank %></p>
      <p><%= @answers[2].content %>    <%= @answers[2].rank %></p>
      <p><%= @answers[3].content %>    <%= @answers[3].rank %></p>

      <%= link_to "Back to Menu", root_path, class: 'btn btn-danger ' %>
      <%= button_to "play again", games_path, class: 'btn btn-primary', params: {game: {game_mode: "Try Out"}}%>



      <% end %>

    </div>
  </div>
</div>

