 <div class="dash-header">
    <div class="dash-back-btn">
      <%= link_to "", root_path, class: 'dash-back-btn-icon' %>
    </div>
    <p class = "invisible"></p>
    <p class = "dash-title"> Log in </p>
    <div class="dash-header-placeholder"></div>
  </div>


<div class = "htp-container">
  <div class = "htp-inner-container text-white">
    <div class="form-container">

      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="query-block">
        <%= f.input :email,
        required: false,
        autofocus: true,
        input_html: { autocomplete: "email", class: "text-input", type:"text", value:"", placeholder:"E-mail" } %>
        </div>
         <div class="query-block">
        <%= f.input :password,
        required: false,
        input_html: { autocomplete: "current-password", class:"text-input", type: "password", value:"", placeholder:"Password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
       </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: 'btn btn-form' %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<script>
  let my_body = document.querySelector('body')
  const changeBodyBackgroundColor = () => {
    my_body.style.background = '#545252'
  }
  changeBodyBackgroundColor();
</script>
